* {
  margin: 0;
  padding: 0;
}
.container {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  width: 90%;
  background-color: #2b3618;
  color: white;
  text-align: left;
  border-radius: 1rem;
  gap: 1rem;
}
.title {
  cursor: pointer;
}
.cardBody {
}
